
*{
	margin: 0;
	padding: 0;
}
div{
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	user-select: none;
	z-index: -1;
	background: url(http://s85.youtaker.com/other/2014/7-24/oth5062056939b257acd950047f2971a13103a73b0050011.jpg) center center no-repeat;
	background-size: cover;
	border-radius: 8px;
}
canvas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 8px;
	box-shadow: 0 2px 5px #000;
}